@import "tailwindcss";

body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  cursor: default;
  font-style: Regular;
}

.profile-image {
  border: 5.28px solid #ffffff;
  box-shadow: 0px 8.8px 7.04px 0px #0000004f;
}

.scrollable {
  overflow-y: auto;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-track {
  background: #ffe6a6;
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #ffe6a6;
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #ff8585;
}

@supports (scrollbar-width: thin) {
  .scrollable {
    scrollbar-width: thin;
    scrollbar-color: #ffe6a6 #e7c56f; /* thumb | track */
  }
}
